.navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background-color: transparent;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	border-bottom: 2px solid white;
	background-color: rgb(200, 200, 200, 0.2);
	backdrop-filter: blur(2px);
	z-index: 200;
}

.nav {
	display: flex;
	z-index: 100;
}

.nav > a {
	z-index: 100;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav > a:hover {
	text-decoration: underline;
	color: blue;
}
