@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
	font-family: "inter", sans-serif;
	box-sizing: border-box;
	color: #0e101a;
}

html {
	display: flex;
	justify-content: center;
	background: linear-gradient(to bottom right, gray, red);
	background: url(https://source.unsplash.com/JZ51o_-UOY8) -40vw / cover;
}

.blog-container {
	border-radius: 15px;
	border: 3px solid darkblue;
	min-height: 150vh;
	width: 50vw;
	background-color: white;
	padding: 100px 40px;
	margin: 20px 0;
	filter: drop-shadow(15px 15px 5px black);
}

p,
ol,
li {
	margin: 0;
	font-size: 18px;
	line-height: 32px;
}
