@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
	font-family: "inter", sans-serif;
	box-sizing: border-box;
	color: #0e101a;
}

html {
	display: flex;
	justify-content: center;
	background: linear-gradient(to bottom right, gray, red);
	background: url(https://source.unsplash.com/TawKvL8NqHE) no-repeat center /
		cover;
}

.blog-container {
	border-radius: 15px;
	border: 3px solid darkblue;
	min-height: 150vh;
	width: 50vw;
	background-color: white;
	padding: 100px 40px;
	margin: 20px 0;
	filter: drop-shadow(15px 15px 5px black);
}

p,
ol,
li {
	margin: 0;
	font-size: 18px;
	line-height: 32px;
}

@media screen and (max-width: 768px) {
	.blog-container {
		width: 90vw;
		padding: 50px 20px;
	}
}

@media screen and (max-width: 480px) {
	p,
	ol,
	li {
		margin: 0;
		font-size: 16px;
		line-height: 28px;
	}

	.nav a {
		font-size: 0.8em;
	}
	.navigation > img {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 350px) {
	.navigation {
		padding: 0 10px !important;
	}
	.nav a {
		font-size: 0.7em;
	}
	.navigation > img {
		width: 30px;
		height: 30px;
	}
}
